{% extends "layout.html" %}
{% load static %}
{% block title %}Portfolio{% endblock title %}
{% block body %}  
{% block bg %}
    <style>
        #mainNav{
            background: #0d6efd;
        }
    </style>
{% endblock bg %}   
        <section class="page-section bg-light mt-5" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Businesses we've empowered to succeed online!</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4 rounded-5">
                        <!-- Portfolio item 1-->
                        <div class="p-item p-3 rounded-5" id="portfolio-item">
                            <a class="portfolio-link text-decoration-none"   href="https://web-production-2212.up.railway.app/" target="_blank" title="Open project" style="border-radius: 20px;">
                                <div class="p-item-image" style="border-radius: 20px;overflow:hidden">
                                    <img  src="{% static 'assets/img/Images/Screenshot (51).png' %}" alt="Ecommerce website design" width="100%" height="100%" />
                                </div>
                                <div class="p-text" style="color: #fff;">
                                    <h6>Speed Emporium</h6>
                                    <p class="m-0">He wanted an ecommerce website that reflects his mini mart so he could sell online</p>
                                    <span class="badge bg-primary my-3">Ecommerce</span>
                                </div>
                            </a>
                            <div class="text-center bg-warning text-light p-1 fw-bold" id="openProject" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 rounded-5">
                        <!-- Portfolio item 1-->
                        <div class="p-item p-3 rounded-5" id="portfolio-item">
                            <a class="portfolio-link text-decoration-none"   href="https://nuamahfarms.com" target="_blank" title="Open project" style="border-radius: 20px;">
                                <div class="p-item-image" style="border-radius: 20px;overflow:hidden">
                                    <img  src="{% static 'assets/img/Images/nuamah.png' %}" alt="Nuamah farms landing page" width="100%" height="100%" />
                                </div>
                                <div class="p-text" style="color: #fff;">
                                    <h6>Nuamah Farms</h6>
                                    <p class="m-0">He wanted a website that showcases the farm and his product in the market</p>
                                    <span class="badge bg-primary my-3">Business</span>
                                </div>
                            </a>
                            <div class="text-center bg-warning text-light p-1 fw-bold" id="openProject" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 rounded-5">
                        <!-- Portfolio item 1-->
                        <div class="p-item p-3 rounded-5" id="portfolio-item">
                            <a class="portfolio-link text-decoration-none"   href="https://pydanny21.github.io/codedanny" target="_blank" title="Open project" style="border-radius: 20px;">
                                <div class="p-item-image" style="border-radius: 20px;overflow:hidden">
                                    <img  src="{% static 'assets/img/Images/Screenshot (19).png' %}" alt="Codedanny coding tutorial landing page" width="100%" height="100%" />
                                </div>
                                <div class="p-text" style="color: #fff;">
                                    <h6>Code Danny</h6>
                                    <p class="m-0">Landing page for a coding business startup</p>
                                    <span class="badge bg-primary my-3">Business</span>
                                </div>
                            </a>
                            <div class="text-center bg-warning text-light p-1 fw-bold" id="openProject" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 rounded-5">
                        <!-- Portfolio item 1-->
                        <div class="p-item p-3 rounded-5" id="portfolio-item">
                            <a class="portfolio-link text-decoration-none"   href="https://pydanny21.github.io/Ecommerce" target="_blank" title="Open project" style="border-radius: 20px;">
                                <div class="p-item-image" style="border-radius: 20px;overflow:hidden">
                                    <img  src="{% static 'assets/img/Images/Screenshot (50).png' %}" alt="Ecommerce website design" width="100%" height="100%" />
                                </div>
                                <div class="p-text" style="color: #fff;">
                                    <h6>Cara</h6>
                                    <p class="m-0">He wanted an ecommerce website that reflects his mini mart so he could sell online</p>
                                    <span class="badge bg-primary my-3">Ecommerce</span>

                                </div>
                            </a>
                            <div class="text-center bg-warning text-light p-1 fw-bold" id="openProject" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 rounded-5">
                        <!-- Portfolio item 1-->
                        <div class="p-item p-3 rounded-5" id="portfolio-item">
                            <a class="portfolio-link text-decoration-none"   href="https://pydanny21.github.io/Audible" target="_blank" title="Open project" style="border-radius: 20px;">
                                <div class="p-item-image" style="border-radius: 20px;overflow:hidden">
                                    <img  src="{% static 'assets/img/Images/Screenshot (28).png' %}" alt="PDF to audio conversion application" width="100%" height="100%" />
                                </div>
                                <div class="p-text" style="color: #fff;">
                                    <h6>Audible</h6>
                                    <p class="m-0">PDF to audio project</p>
                                    <span class="badge bg-primary my-3">Application</span>

                                </div>
                            </a>
                            <div class="text-center bg-warning text-light p-1 fw-bold" id="openProject" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 rounded-5">
                        <!-- Portfolio item 1-->
                        <div class="p-item p-3 rounded-5" id="portfolio-item">
                            <a class="portfolio-link text-decoration-none"   href="https://pydanny21.github.io/Portfolio" target="_blank" title="Open project" style="border-radius: 20px;">
                                <div class="p-item-image" style="border-radius: 20px;overflow:hidden">
                                    <img  src="{% static 'assets/img/Images/Screenshot (34).png' %}" alt="Personal portfolio website" width="100%" height="100%" />
                                </div>
                                <div class="p-text" style="color: #fff;">
                                    <h6>Portfolio</h6>
                                    <p class="m-0">A personal portfolio website</p>
                                    <span class="badge bg-primary my-3">Business</span>
                                </div>
                            </a>
                            <div class="text-center bg-warning text-light p-1 fw-bold" id="openProject" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;"></div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
    {% endblock body %}  